name: Build and Push Docker Images

on:
  push:
    branches:
      - release1
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # -----------------------------
      # Build & Push WEB-TIER
      # -----------------------------
      - name: Build & Push Web Tier Image
        uses: docker/build-push-action@v5
        with:
          context: ./web-tier
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/web-tier:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/web-tier:${{ github.sha }}

      # -----------------------------
      # Build & Push APP-TIER
      # -----------------------------
      - name: Build & Push App Tier Image
        uses: docker/build-push-action@v5
        with:
          context: ./app-tier
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/app-tier:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/app-tier:${{ github.sha }}

      # -----------------------------
      # Build & Push DB-TIER
      # -----------------------------
      - name: Build & Push DB Tier Image
        uses: docker/build-push-action@v5
        with:
          context: ./db-tier
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/db-tier:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/db-tier:${{ github.sha }}
